.your-selector {
    background: linear-gradient(to bottom right, #f9e7cb, #f4c891);
    border: 1px solid #f1c40f;
    position: relative;
}

.your-selector::before {
    content: "Luxury Wedding";
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #6c757d;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #343a40;
    padding: 10px;
    text-align: justify;
}

button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}